h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}
h2 {
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	padding-bottom: 2%;
	color: red;
	margin: 0;
}
.botaoRedondo {
	border-radius: 40%;
	padding: 4% 4% 3.5% 4%;
	margin: 1% 1.0% 1% 1.0%;
	font-weight: bold;
	background-color : lightgray; 
}
.dezena {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-style: solid;
}
.linha {
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	width: 90%;
}
.botoesVerticais {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
}

.botoesHorizontais {
//	border-style: solid;
	padding-top: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 0%;
}

.nome {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

ion-icon {
	font-size: 40px;
	margin-left:0px;
}
