h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 20px;
}
.botoesVerticais {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
}

.botoesHorizontais {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nome {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

ion-icon {
	font-size: 40px;
	margin-left:0px;
}
