<ion-content>
<h1>Cadastro da aposta</h1>
<div class="list">

  <div class="item item-input-inset" style="padding-left: 20px;">
	<b><label style="margin-bottom: 10px; text-decoration: underline;">Dezenas da aposta:</label></b>
	<div class="nome">
	    <label class="item-input-wrapper">
    	  <input type="text" style="width: 100%; padding-right: 0px;" placeholder="Informe as dezenas">
    	</label>
  <ion-icon name="arrow-back"></ion-icon>
 		<p style="font-size: 10px;">RESTA</p>	
	</div>
  </div>
  <div class="botoesHorizontais">
    <ion-button color="warning" style="font-size: 10px; width: 40%;">REMOVER DEZENA</ion-button>
  	<ion-button color="success" style="font-size: 10px; width: 60%;" href="/menu">INSERIR DEZENA</ion-button>
  </div>
  <div class="botoesVerticais">
  	<ion-button style="font-size:15px;" href="/tela-aposta-criada">FINALIZAR APOSTA</ion-button>
  	<ion-button color="danger" style="font-size: 13px;">LIMPAR APOSTA</ion-button>
  </div>

</div>
</ion-content>
