<ion-content>
	<h1>Aposta {{indexApostaPagina}}</h1>
	<h2>Falta {{dezenasRestantes}} dezenas</h2>

	<div id="dezena">
		<div class="linha">
			<button class="botaoRedondo" *ngFor = "let dezenas of possiveisDezenas"  [value]="dezenas" [id] = "dezenas" (click) = "botao($event)">{{dezenas}}</button>
		</div>
	</div>

	<div class="botoesHorizontais">
			<ion-button style="margin-bottom: 5%; margin-right: 1%; width: 30%; font-size: 80%;" routerLink = "/home">VOLTAR</ion-button>
			<ion-button style="margin-bottom: 5%; width: 50%; font-size: 100%;" (click) = "avanca()" >PROXIMA</ion-button>
	</div>
</ion-content>
