<ion-content>
<h1>Pré-análise</h1>
<div class="list">

  <div class="item item-input-inset" style="padding-left: 20px; display: flex; flex-direction: column;">
	<label style="margin-bottom: 10px;">Nome do jogo:</label>
	<div class="nome">
	    <label class="item-input-wrapper">
    	  <input type="text" placeholder="Nome do jogo">
    	</label>
		<ion-icon name="pricetag"></ion-icon>	
	</div>

	<label>Sorteio:</label>

	<div class="nome">
	    <label class="item-input-wrapper">
    	  <input type="text" placeholder="Dezenas sorteadas">
    	</label>
		<ion-icon name="checkmark-circle-outline"></ion-icon>
	</div>
  </div>

  <div class="botoes">
  	<ion-button style="font-size: 15px; height: 60px; padding-right: 10px; width: 80%;" routerLink="/tela-analise">ANALISAR</ion-button>
   	<ion-button color ="danger" style="font-size:15px; height: 50px;width: 60%; " routerLink="/menu">VOLTAR</ion-button>
 </div>

</div>
</ion-content>
