<ion-content>
	<h1>Apostas criadas</h1>

	<div id="aposta">
		<div class="nomeAposta" *ngFor = "let aposta of this.jogoControllerService.aposta; let i = index"> <h2 style="width:100%">Aposta {{i + 1}}</h2>
			<button class="botaoRedondo" *ngFor = "let dezena of this.jogoControllerService.aposta[i].dezenas"  [value]="dezena" [id] = "dezena">{{dezena}}</button>
		</div>
	</div>
</ion-content>
<ion-footer style="background-color: white">
	<div>
		<ion-button color="danger" style="width: 23%; font-size: 12px;" routerLink="/menu">CANCELAR</ion-button>
		<ion-button color="warning"  style="width: 27%;font-size: 12px;" (click) = "alterarAposta()">ALTERAR</ion-button>
		<ion-button color="success" style="width: 50%;font-size: 12px;" >FINALIZAR</ion-button>
	</div>
</ion-footer>
