<ion-content>
	<h1>Aposta:</h1>
	
	<label>Quantidade de dezenas:</label>
    <ion-range>
    </ion-range>

    <p style="text-align: center;">Como o aplicativo deve receber as dezenas?<p>
    <div class="toggle">
    	<ion-item lines = "none">
		   	<ion-toggle></ion-toggle>   		
	    	<ion-label>Gerar dezenas manualmente</ion-label>
    	</ion-item>
    	<ion-item lines = "none">
		   	<ion-toggle></ion-toggle>   		
	    	<ion-label>Gerar dezenas aleatórias</ion-label>
    	</ion-item>
    </div>
    <div class="botoes">
    	<ion-button href="/tela-cadastro-aposta">ENTRAR COM APOSTA</ion-button>
    	<ion-button  color="secondary">APOSTA ANTERIOR</ion-button>
    </div>

</ion-content>
