h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 20px;
}

label {
	padding-left: -10px;
	margin-bottom: 0px;
}

ion-range {
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.toggle {
	display: flex;
	flex-direction: column;
}
.botoes {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}