h1 {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 20px;
}
ion-icon {
	font-size: 40px;
	padding-left: 10px;
}

.nome {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

ion-range {
	width: 100%;
	padding-left: 0px;
	padding-bottom: 40px;
}

.botoes{
	display: flex;
	direction: row;
	justify-content: flex-end;
	align-items: center;
}