<ion-content>
<h1>Novo jogo:</h1>
<div class="list">

  <div class="item item-input-inset" style="padding-left: 20px;">
	<label style="margin-bottom: 10px;">Nome do jogo:</label>
	<div class="nome">
	    <label class="item-input-wrapper">
    	  <input type="text" placeholder="Nome do jogo" #nomeJogo>
    	</label>
		<ion-icon name="pricetag"></ion-icon>	
	</div>
	<label>Quantidade de apostas:</label>
	    <ion-range #qtdAposta pin = "true">
	    </ion-range>
  </div>
  <div class="botoes">
  	<ion-button color ="danger" style="font-size:15px; height: 50px; " href="/menu">VOLTAR</ion-button>
  	<ion-button style="font-size: 15px; height: 60px; padding-right: 10px" href="/tela-informacao-aposta" (click)="onAddNovoJogo(nomeJogo.value, qtdAposta.value)">CONTINUAR</ion-button>
  </div>

</div>
</ion-content>
