<ion-content>
	<h1>Aposta {{this.indexApostaPagina}}</h1>

  <ion-radio-group class="toggle">
    <ion-item lines = "none">
       <ion-radio #incluiDezena checked = true></ion-radio>   		
      <ion-label>Incluir dezenas da geração</ion-label>
    </ion-item>
    <ion-item lines = "none">
       <ion-radio #excluiDezena></ion-radio>   		
      <ion-label>Excluir dezenas da geração</ion-label>
    </ion-item>
  </ion-radio-group>

  <div id="dezena">
	<div class="linha">
		<button class="botaoRedondo" *ngFor = "let dezenas of possiveisDezenas"  [value]="dezenas" [id] = "dezenas" (click) = "botao($event)">{{dezenas}}</button>
	</div>
</div>

	<div class="botoesHorizontais">
			<ion-button style="margin-right: 1%; width: 30%; font-size: 15px;" (click) = "voltar()">VOLTAR</ion-button>
			<ion-button style="width: 50%; font-size: 20px;" (click) = "geraAposta()">GERAR</ion-button>
	</div>
</ion-content>
