h1 {
	font-size: 30px;
	text-align: center;
    text-decoration: none;
    margin-bottom: 0%;
}
h2 {
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	padding-bottom: 20px;
	color: red;
	margin: 0;
}
.botaoRedondo {
	border-radius: 40%;
	padding: 2% 3% 2% 3%;
	margin: 1% 1.5% 1% 1.5%; 
}
.dezena {
	display: flex;
	flex-direction: column;
}
.linha {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.botoesHorizontais {
	padding-top: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.toggle {
	display: flex;
    flex-direction: column;
}

.nome {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

ion-icon {
	font-size: 40px;
	margin-left:0px;
}
