h1 {
	font-size: 30px;
	text-align: center;
    text-decoration: none;
    margin-bottom: 0%;
}
h2 {
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	padding-bottom: 20px;
	color: red;
	margin: 0;
}
.botaoRedondo {
	border-radius: 40%;
	padding: 2.5% 4% 2.5% 4%;
	margin: 1% 1.0% 1% 1.0%;
	font-weight: bold;
	background-color : lightgray; 
}
.dezena {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-style: solid;
}
.linha {
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	width: 90%;
}
.botoesHorizontais {
	padding-top: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.toggle {
	display: flex;
    flex-direction: column;
}

.nome {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

ion-icon {
	font-size: 40px;
	margin-left:0px;
}
